<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.appspot.myjavaservlet.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/appengine_web_servlet/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>simpleServlet</servlet-name>
    <servlet-class>com.appspot.myjavaservlet.simpleServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>simpleServlet</servlet-name>
    <url-pattern>/simpletest</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- Default page to serve -->


   <servlet>
    <servlet-name>SimpleUpload</servlet-name>
    <servlet-class>com.appspot.myjavaservlet.SimpleUpload</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SimpleUpload</servlet-name>
    <url-pattern>/simpleupload</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ServeFile</servlet-name>
    <servlet-class>com.appspot.myjavaservlet.ServeFile</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServeFile</servlet-name>
    <url-pattern>/servefile</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>HtmlVideoServlet</servlet-name>
    <servlet-class>com.appspot.myjavaservlet.HtmlVideoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HtmlVideoServlet</servlet-name>
    <url-pattern>/htmlvideoservlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list> 
        <welcome-file>index.jsp</welcome-file> 

   </welcome-file-list> 

</web-app>
